@using System.Security.Claims
@using Microsoft.AspNet.Identity
@{
    Layout = null;
    var claimsUser = User.Identity as ClaimsIdentity ?? new ClaimsIdentity();
    var profilePhotoUrl = Url.Content("~/Assets/avatar.jpg");
    var profilePhotoClaim = claimsUser.Claims.FirstOrDefault(c => c.Type == "profile:photo:url");
    if (profilePhotoClaim != null)
    {
        profilePhotoUrl = profilePhotoClaim.Value;
    }
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Zanotuj.to - @ViewBag.Title</title>
    <script src="~/bower_components/pgs-bootstrap-theme/dist/scripts.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/common")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/bower_components/pgs-bootstrap-theme/dist/styles.css">*@
    <link rel="stylesheet" href="~/Content/styles.css">
</head>

<body id="@ViewBag.BodyId">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand">
                    <a href="/" style="color: black"><img src="~/assets/logo.png" alt="Zanotuj.to"> Zanotuj.to</a>
                    <a href="http://pgs-soft.com">
                        <object data="~/Content/PGS_logo.svg" width="80" style="margin-left: 30px; position: absolute;top:14px" type="image/svg+xml"></object>
                    </a>
                </h1>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div>@Html.ActionLink("O nas", "View", "Note", new { id = 15 }, new { @class = "btn btn-second" })</div>
                    </li>
                    @if (Request.IsAuthenticated)
                    {

                        <li>
                            <div>@Html.ActionLink("Dodaj notatkę", "Add", "Note", null, new { @class = "btn btn-primary" })</div>
                        </li>
                        <li><a href="@Url.Action("index","Home",new {query="@"+ @User.Identity.GetUserName()})"><img src="@profilePhotoUrl" /></a></li>
                        <li>
                            <a href="@Url.Action("LogOff","Account")"><i class="icon-profile"></i> Wyloguj</a>
                        </li>

                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Login","Account")"><i class="icon-profile"></i> Logowanie</a>
                        </li>
                    }
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    @RenderSection("feature", false)

    @RenderBody()

    <footer>
        <div class="container">&copy; 2016 zanotuj.to</div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>