@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Zanotuj.to - @ViewBag.Title</title>
    <script src="~/bower_components/pgs-bootstrap-theme/dist/scripts.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="~/bower_components/pgs-bootstrap-theme/dist/styles.css">
    <link rel="stylesheet" href="~/Content/styles.css">
</head>

<body id="@ViewBag.LoginId">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand">
                    <img src="~/assets/logo.png" alt="Zanotuj.to"> Zanotuj.to
                </h1>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <button class="btn btn-primary">Dodaj notatkę</button>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOff","Account")"><i class="icon-profile"></i> Wyloguj</a>
                        </li>

                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Login","Account")"><i class="icon-profile"></i> Logowanie</a>
                        </li>
                    }
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    @RenderSection("feature", false)
    <div class="main container flex">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="container">&copy; 2016 zanotuj.to</div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>