@model Zanotuj.To.WebApplication.Models.AccountLoginViewModel
@{
    ViewBag.BodyId = "login";

}
<h2>Logowanie</h2>
<h4>Nie masz jeszcze konta? <a href="#">Zarejestruj się</a></h4>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group text-color">
            @Html.LabelFor(m => m.Nick)
            @Html.TextBoxFor(m => m.Nick, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nick, "", new { @class = "text-danger" })
        </div>
        <div class="form-group text-color">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </fieldset>
            <input type="submit" class="btn btn-primary" value="Zaloguj" />
            <div class="divider">
                <div>LUB</div>
            </div>
}

@using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("provider", "Facebook")

    <input type="submit" class="fbButton" value="" />
}


