@using Microsoft.AspNet.Identity
@model Zanotuj.To.WebApplication.Controllers.NoteViewViewModel

@{
    ViewBag.Title = "Notatka";
}
@functions{
    public string TokenHeaderValue()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}


@section feature
{
    <div class="bg-light">
        <div class="container">
            <div class="content">
                <div class="row clearfix">
                    <div class="date col-md-9">Data utworzenia: @Model.CreateTime.ToShortDateString() / Ostatnia edycja: @Model.DaysAgo dni temu</div>
                    <div class="actions col-md-3">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url" target="_blank"><i class="icon-copy"></i> udostępnij</a>
                        @if (User.Identity.GetUserName() == Model.Author)
                        {
                            <a href="@Url.Action("Edit", new { id = Model.Id })"><i class="icon-edit"></i> edytuj</a>
                            <a href="#" id="delete-link"><i class="icon-remove"></i> usuń</a>
                        }

                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <h3>@Model.Title</h3>
                    </div>

                </div>
                <div class="author">
                    <img class="avatar" src="@Model.PhotoUrl" />@Model.Author
                </div>
                <div class="meta">
                    @(string.Join(", ", Model.HashTags))
                </div>
            </div>
        </div>
    </div>
}
<div class="main container">
    <div class="full-note content col-md-8 col-md-offset-2" style="padding: 20px;">
        @Html.Raw(Model.Content)
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function() {
            $("#delete-link").click(function() {
                var isConfirmed = confirm("Usuwasz notatkę. Jesteś pewien?");
                if (isConfirmed) {
                      $.ajax("/api/Note", {
                        type: "POST",
                        contentType: "application/json",
                        data:  { id: @Model.Id }, 
                        dataType: "json",
                        headers: {
                            'RequestVerificationToken': '@TokenHeaderValue()'
                        }
                    }).success(function() {
                          window.location.href = '/';
                      });
                }
            });
        })
    </script>
}
