@model List<Zanotuj.To.WebApplication.Services.NoteViewModel>

@section feature
   {
    <div class="bg-dark">
        <div class="container flex">
            <div class="content">
                <h2>Twórz i zarządzaj</h2>
                <h3>Zanotuj.to jest największą bazą notatek, którą przeszukasz w intuicyjny sposób, łatwo powiększysz o kolejne i udostępnisz innym.</h3>
                <form>
                    <div class="selectize form-group form-inline">
                        <input placeholder="Podaj frazę albo #hasztag lub &#64;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<div class="container">
    @foreach (var note in Model)
    {
        <div class="note">
            <div class="date">@note.CreateTime.ToShortDateString()</div>
            <h1><a href="@Url.Action("View", "Note", new { Id = note.Id })">@note.Title</a></h1>
            <div class="content">@Html.Raw(note.Content)</div>
            <div class="author">
                <img class="avatar" src="@note.PhotoUrl" />@note.Autor
            </div>
            <div class="meta">
                <div class="hashtag">#</div>
                @foreach (var hashtag in note.HashTags)
                {
                    @hashtag @:, &nbsp;
                }
            </div>
        </div>
    }

</div>
